<!DOCTYPE html>
<html lang="en">
<head>

  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/css/search.css">
  <style>
    body{
    margin: 0%;
}
#formdiv{
    border: 4px solid black;
    height: fit-content;
    width: 50%;
    margin: auto;
    margin-top: 10%; ;
}

.inputfields{
    width: 70%;
    height: 3vh;
    display: inline-block;
    margin:5%;
    margin-left: 14%;
    margin-top: auto;
}

#submitbtn{
    width: 30%;
    height: 4vh;
    margin-left: 36%;
}

colfields{
    width: 22%;
    height: 4vh;
    display: inline-block;
    margin:2%;
    margin-left: 7%;
}
  </style>
  
</head>

<body>
<div id="formdiv">
    <form action="/database/search" method="post">
        <select class="inputfields" id="select_database" name="database" onchange="request(this.value)">
            <option value="" style="height: 5vh;">Select Database</option>

            <% for (let i of databases){ %>
        <option value="<%= i.Database %>" class="databasename"  style="height: 10vh;  "> <%= i.Database %>  </option>
                <% } %>

        </select>
        <select class="inputfields" id="selecttable" name="table">
            <option >Select Table</option>
        </select>
        <input type="number" name="pagesize" id="" class="inputfields" placeholder="Enter the page size">
        <button type="submit" id="submitbtn">Submit</button>
    </form>
</div>
<script src="/javascript/jquery-3.6.0.js"></script>
<script type="module" src="/javascript/searchajax.js"></script>
<script>
    const table = '<%- JSON.stringify(tables) %>'
    function request(dbname){
        var ctable = Object.values(JSON.parse(table));
        var availableTables = ctable.filter(e => e.database_name === dbname)
        console.log(availableTables)
        $("option[class='doptions']").remove();
        for(var i=0;i<availableTables.length;i++)
        {
                $('#selecttable').append($('<option>', {
                    value: availableTables[i].table_name,
                    text: availableTables[i].table_name,
                    class:'doptions'
                    
                }));
        }
    }
</script>
</body>
</html>